.container {
    width: min(100%, 1440px);
    margin: auto;
    margin-top: 96px;
}

/* header */
header {
    background: #402101;
    backdrop-filter: blur(4px);
    padding-inline: 120px;
    display: flex;
    height: 96px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.burger,
.xmark {
    display: none;

}

.header_ul {
    display: flex;
    column-gap: 60px;
}

.active {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.no_active {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active:hover,
.no_active:hover {
    text-shadow: 0 0 7px #D5906E, 0 0 14px #EA904F, 0 0 21px #FF543E;
    color: rgba(213, 144, 110, 0.52)
}

.logo_text1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-spacing: -17px;
}

.logo_text2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo_text1:hover {
    filter: drop-shadow(0 7px 7px rgb(190, 86, 9));
}

.header_right {
    display: flex;
    column-gap: 16px;
}

.header_sighnin {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_sighnin:hover {
    text-shadow: 0 0 7px #D5906E, 0 0 14px #EA904F, 0 0 21px #FF543E;
    color: rgba(213, 144, 110, 0.52)
}

.cart:hover {
    filter: drop-shadow(0 7px 7px rgb(190, 86, 9));
}

/* section1 */
.section1 {
    height: 560px;
    background-image: url(../images/cover1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.section1_p {
    color: #FFF;
    text-shadow: 4px 4px 2px #581504;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.section1_button {
    display: flex;
    padding: 12px 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #B53B1B;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px #581504;
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: auto;
    margin-top: 48px;
    animation-name: button;
    animation-duration: 6s;

}

@keyframes button {
    0% {
        background-color: #D5906E
    }

    25% {
        background-color: #EA904F
    }

    50% {
        background-color: #FF543E
    }

    100% {
        background-color: #381209e6
    }
}

.section1_button:hover {
    box-shadow: 0px 0px 9px 3px rgb(190, 86, 9);

}

/* section2 */
.section2 {
    background-color: #EA904F;
    height: 664px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secrion2_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
    align-items: center;
}

.section2_cards {
    display: flex;
    column-gap: 24px;
}

.section2_card:hover {
    box-shadow: 0px 0px 9px 3px rgb(110, 54, 12);
    border-radius: 24px;
}


.section2_card {
    position: relative;
}

.section2_img {
    width: 282px;
    height: 200px;
    object-fit: cover;

}

.section2_text_div {
    width: 200px;
    height: 42px;
    border-radius: 8px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}


.section2_text {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;

}

/* section3 */
.section3 {
    background: #402101;
    padding: 120px;
}

.section3_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.section3_content {
    display: flex;
    column-gap: 24px;
}

.section3_card {
    width: 282px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
    border-radius: 8px;

}

.section3_card:hover {
    box-shadow: 0px 0px 9px 3px rgb(137, 86, 50);

}

.section3_img {
    width: 100%;
    height: 184px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.section3_card_content_title {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}

.section3_card_price_addbutton {
    display: flex;
    justify-content: space-between;
}

.section3_card_price {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.section3_add_button {
    border-radius: 8px;
    background: #B53B1B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: none;
    padding: 6px 19px;
}

.section3_add_button:hover {
    box-shadow: 0px 0px 9px 3px rgb(137, 86, 50);
    color: #b98d61e6;
}

/* section4 */
.section4 {
    height: 480px;
    background-image: url(../images/section4cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 56px;
}


.section4_title {
    color: #FFF;
    text-shadow: 0px 4px 4px #402101;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}


.search_form {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #FFF;
    width: 482px;
}

.search_form ::placeholder {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search_input {
    width: 100%;
    height: 56px;
    padding-left: 16px;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background: #D5906E;




}

.search_input_btn {

    border: none;
    background: #FFF;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 17px 25px 17px 26px;
    border-radius: 0px 10px 10px 0px;
    background: #FFF;

}

.search_input_btn:hover {
    box-shadow: 0px 0px 9px 3px rgb(137, 86, 50);
    color: #a26629e6;
}


/* footer */
footer {
    display: flex;
    background: #402101;
    padding: 80px 120px;
    justify-content: space-between;
    align-items: flex-start;


}

.footer_left_side {
    display: flex;
    flex-direction: column;

}

.footer_left_navigation_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;

}

.footer_left_navigation_title:hover {
    text-shadow: 0px 0px 9px #8e4a41;
    color: #8e4a41;
}

.header_left_nav_li {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.header_left_nav_li:hover {
    text-shadow: 0px 0px 9px #8e4a41;
    color: #8e4a41;
}

.header_left_nav_li2 {

    margin-top: 8px;
    margin-bottom: 32px;
}

.footer_socialnet_icones {
    display: flex;
    column-gap: 24px;
}

.footer_soc_icon:hover {
    filter: drop-shadow(0px 0px 9px rgb(137, 86, 50));

}

.footer_right_side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 8px;

}


.footer_rightside_icones_text1 {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer_icon:hover {
    filter: drop-shadow(0px 0px 9px rgb(137, 86, 50));
}

.footer_right_text {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;

}

.footer_right_text:hover {
    text-shadow: 0px 0px 9px #8e4a41;
    color: #8e4a41;
}

/* about_section1 */
.about_section1 {
    height: 560px;
    background-image: url(../images/aboutcover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 47px;

}



.about_section1_title {
    color: #FFF;
    text-shadow: 0px 4px 2px #000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.about_form {
    display: flex;
    width: 588px;
    background: #F5F5F5;
    justify-content: center;
    border: none;
    border: 2px solid #FFF;
    border-radius: 10px;
    position: relative;

}

.about_form ::placeholder {
    color: rgba(213, 144, 110, 0.52);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.search_input_about {
    width: 100%;
    height: 56px;
    padding-left: 16px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background: #F5F5F5;
    border: 2px solid #FFF;
    border-radius: 10px;

}


.about_search_btn {
    border: none;
    border-radius: 0px 10px 10px 0px;
    background: #B53B1B;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 53px 15px 54px;


}

/* about_section2  */
.about_section2 {
    display: flex;
    padding: 120px;
    background: #EA904F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;


}

.about_section2_content_title_sort {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;


}

.about_section2_content_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;


}

.section2_sort_text {

    display: flex;
    width: 160px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 8px 21px;
    border-radius: 5px;
    border: 2px solid #B53B1B;
    background: #FFF;


}

.section2_sort_text:hover {
    filter: drop-shadow(0px 0px 9px rgb(137, 86, 50));

}

.about_secrtion2_button_text {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.about_section2_sortimg {
    width: 29px;
    height: 29px;
}

.about_section2_card_img {
    width: 100%;
    height: 224px;
    object-fit: cover;

}

.about_section2_9cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 24px;
}


.about_section2_card {
    flex: 1 1 384px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #FFF;
    padding: 16px;

}

.about_section2_card:hover {
    box-shadow: 0px 0px 9px 3px rgb(137, 86, 50);
    color: #a26629e6;
}


.about_section2_card_content_title {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about_section2_card_content_price {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.about_section2_card_content_price_cartcart {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.about_section2_carticon:hover {
    filter: drop-shadow(0px 0px 9px rgb(137, 86, 50));
}


.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination a {
    color: #FFF;
    float: left;
    padding: 17px 0px;
    border: 2px solid #FFF;
    width: 56px;
    stroke-width: 2px;
    stroke: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_pagination {
    background: #B53B1B;
    ;
}

.active_pagination:hover {
    background: #B53B1B;
    color: #e9f2f4;
    cursor: pointer;
}

.pagination_numb:hover {
    background: #B53B1B;
    color: #e9f2f4;
    cursor: pointer;
}

/* contact page */
/* contact_section1 */
.contact_section1 {
    height: 720px;
    background-image: url(../images/contactcover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 222px;
    display: flex;
    align-items: center;

}

.contact_form_container {

    width: 500px;
    padding: 24px 30px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(64, 33, 1, 0.90);
    box-shadow: -1px -1px 4px 0px #FFF;

}

.contact_form_title {

    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 40px;
}

.contact_form_content {
    display: flex;
    flex-direction: column;
    row-gap: 36px;

}

.contact_name_emailform {
    display: flex;
    column-gap: 60px;
}

.name_emailform ::placeholder {
    color: rgba(255, 255, 255, 0.76);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.name_emailinput {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 8px;
    height: 40px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #FFF;

}

#textarea_contact::placeholder {
    color: rgba(255, 255, 255, 0.76);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

#textarea_contact {
    background: transparent;
    resize: none;
    width: 100%;
    height: 96px;
    border-radius: 10px;
    border: 2px solid #FFF;
    padding-left: 8px;
    padding-top: 8px;



}

.contact_form_btn {
    width: 147px;
    height: 56px;
    border: none;
    border-radius: 10px;
    background: #FF543E;
    padding: 19px 42px 18px 43px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.contact_form_btn:hover {
    color: hsl(7, 40%, 45%);
    background-color: #D5906E;
}

/* contact section2  */
.contact_section2 {
    height: 648px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    background: #EA904F;
}

.contact_section2_img:hover {
    box-shadow: 0px 0px 9px 3px rgb(137, 86, 50);
    color: #a26629e6;
}

.section2_title {
    color: #FFF;
    text-shadow: 0px 4px 4px #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;

}

.contact_section2_content {
    display: flex;
    column-gap: 94px;
    align-items: center;
    justify-content: center;
}

.contact_section2_content_navigtaion {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    justify-content: center;
    align-items: flex-start;
}

.section2_contact_nav {
    display: flex;
    column-gap: 13px;
    align-items: center;
}

.section2_contact_nav_text {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section2_contact_nav_text :hover{
    text-shadow: 0px 0px 9px #8e4a41;
    color: #8e4a41;
}
.map {
    width: 560px;
    height: 320px;
}